.site-wrapper
    .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              h1
                i#logo-icon.fa.fa-heartbeat.iconLeft
                | Helsestell.no
              h2
                | Enjoy your golden years independent and healthy
              .input-group.input-group-lg
                input.form-control(type='email', placeholder='Your Email')
                span.input-group-btn
                  button.btn.btn-danger(type='button') Sign up!

          .inner.cover


          .mastfoot
            .inner
              p
                | Investor or institution?
                a(href='mailto:terje@businessmodel.io' target='_blank')  Contact us!


