meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible' content='IE=edge')

// Meta data
title Helsestell.no
meta(name='description', content='Enjoy your golden years independent and healthy')
meta(name='copyright', content='Copyright (c) 2015 Helsestell.no')


// Twitter Card data
meta(name='twitter:title', content='Helsestell.no')
meta(name='twitter:description', content='Enjoy your golden years independent and healthy')
meta(name='twitter:image', content='http://helsestell.no/img/twitter-card.png')
meta(name='twitter:url', content='http://helsestell.no')
meta(name='twitter:card', content='summary')
meta(name='twitter:site', content='@helsestell')


// Open Graph data
meta(property='og:title', content='Helsestell.no')
meta(property='og:description', content='Enjoy your golden years independent and healthy')
meta(property='og:image', content='http://helsestell.no/img/og.png')
meta(property='og:url', content='http://helsestell.no')
meta(property='og:site_name', content='Helsestell.no')

