// Favicon
link(rel='shortcut icon', href='favicon.ico')

// Bootstrap CSS
link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')

// Fonts
link(rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Lato:100,300,400,700')

// Custom styles
link(rel='stylesheet', href='main.css')

// Hotjar Analytics
script.
    (function(f,b){
        var c;
        f.hj=f.hj||function(){(f.hj.q=f.hj.q||[]).push(arguments)};
        f._hjSettings={hjid:22827, hjsv:3};
        c=b.createElement("script");c.async=1;
        c.src="//static.hotjar.com/c/hotjar-22827.js?sv=3";
        b.getElementsByTagName("head")[0].appendChild(c);
    })(window,document);



// HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries

<!--[if lt IE 9 ]>   <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script><script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->